* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    position: relative;

   
}
header{
    background-image: url(../imagenes/pro-table-top.png);
    background-position: left top ;
    background-repeat: no-repeat;
    z-index: 2;
    height: 250px;
}
 .logo{
    top:10px;
    text-align: center;
    z-index: 1;
    position: absolute;
    left: 45%;
    margin-top: 30px;
}

.cd-intro{
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 230px;
    margin: 5px;
}
.buscador{
   
    height: 100px;
    text-align: center;
    margin:15px;
   
}
h1 {
    font-size: 2.4rem;
    text-align: center;
    font-weight: 800;
}
.btnEnviar{
    background-color:#3BB3F6 ;
    width: 180px;
    border-radius: 5px;
    height: 40px;
    margin-top: 20px;
    border-color: rgb(88, 156, 219);
    color: #fff;
    font-size: 25px;
}
@media screen and (min-width: 1500px) {
   
    .buscador{
        width: 50%;
        margin: auto;
    }
    footer{
        height: 250px ;
    }
}

.containerGeneral{
    margin: 30px;

}
.containerAllForm{
    margin:10px auto;
    text-align: center !important; 
    padding: 15px;

}
.container-fluid{
    width: 90%;
    margin-top: 10px;

}

.title{
    margin-top: 10px auto;
    font-size: 25px;
    color:#00b6f9;
    font-weight: bold !important;
}
/* button style */

#num_solicitud{
    margin-left: 20px;
}

#nombre_proveedor{
    margin-left: 22px;
} 

#cond_Pago{
    margin-left: 25px;
    
}  
.tiempoEntrega,.condPago,.iva{
    margin-top: 15px;
}   
#tiempoEntrega{
    margin-left: 43px;

}
.productos{
    margin-top: 30px;
    font-weight: bolder;
    font-size: 25px;
    
}
input  .inputbtn{
    border:1px solid #00b6f9;
    border-radius: 5px;
    
}
.inputList{
    border:0.2px solid #e9ecef;
    font-weight: lighter;
}
.col-sm-2,.col-sm-4{
    font-weight: bold;
    order:0.2px solid #e9ecef;
    font-size: 18px;
}
.col-sm-2{
    text-align: center !important;
}
.inputsList{
    margin-top: 10px;
}

#vigenciaCotizacion{
    margin-left: 19px;
}

.btnAgregarProducto{
    margin-top: 20px;
}
#tiempoGarantia{
    margin-left: 39px;
}
#condGarantia{
    margin-left: 5px;
}
#ivaProducto{
    margin-left: 157px;
}
.textProveedor{
    font-weight: 600 !important; 
}
#beneficio,.observacionesGenerales {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 20px auto;
    
}
select{
    width :210px;
    height: 28px;
    border-radius: 3px;
    background-color: #fff;
    margin-left: 15px;

}
#select{
    margin-left: 28px;
}